#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: .5rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
}

.selects {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.item {
  flex: 1 0 16rem;
}

.stage {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 5rem;
  border-bottom: 1px solid #000;
}
b {
  margin-right: auto;
}
span {
  margin-right: 1rem;
  width: 2rem;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
@media (max-width: 500px) {
  .stage b {
    width: 6rem;
  }
  
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
